body{
    background-color: #212121;
    color: #ffffff;
    font-family: IBM;
}


main {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 160px;

    hr { margin-top: -20px; }

    section:first-of-type{ max-width: 824px; }
    section:nth-of-type(2){ width: 398px; }

    div { margin-bottom: 80px; }

    h1 { font-weight: 700; }
    h2 { font-weight: 300; }
    p {
	margin-bottom: 60px;
	font-weight: 300;
    }
}

